In [24]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, classification_report, confusion_matrix
from sklearn.model_selection import KFold 
from scipy import stats
import matplotlib.pyplot as plt

In [25]:
dataset = pd.read_csv("CreditPrediction.csv")
dataset

,CLIENTNUM,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Unnamed: 19
0,768805383,45.0,M,3,High School,Married,$60K - $80K,Blue,39.0,5.0,1,3,12691.0,777,1.335,1144,42,1.625,0.061,NaN
1,818770008,49.0,F,5,Graduate,NaN,Less than $40K,Blue,44.0,6.0,1,2,8256.0,864,1.541,1291,33,3.714,0.105,NaN
2,713982108,51.0,M,3,Graduate,Married,$80K - $120K,Blue,36.0,4.0,1,0,3418.0,0,2.594,1887,20,2.333,0.000,NaN
3,769911858,40.0,F,4,High School,NaN,Less than $40K,Blue,34.0,3.0,4,1,3313.0,2517,1.405,1171,20,2.333,0.760,NaN
4,709106358,40.0,M,3,Uneducated,Married,$60K - $80K,NaN,21.0,5.0,1,0,4716.0,0,2.175,816,28,2.500,0.000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10162,718673358,35.0,M,3,Doctorate,NaN,$80K - $120K,Blue,30.0,5.0,3,4,13590.0,1528,0.728,2137,52,0.486,0.112,NaN
10163,715207458,46.0,F,1,Unknown,Single,Less than $40K,Blue,39.0,2.0,2,1,2029.0,1074,0.514,4802,90,0.800,0.529,NaN
10164,803665983,52.0,M,0,Unknown,NaN,$60K - $80K,Blue,46.0,3.0,2,4,2742.0,2184,0.592,3829,72,0.532,0.796,NaN
10165,713183508,39.0,F,1,High School,NaN,Unknown,NaN,36.0,1.0,3,2,2751.0,1158,0.821,4861,82,0.822,0.421,NaN
10166,718893333,52.0,M,3,Graduate,NaN,$60K - $80K,Blue,36.0,3.0,3,2,18336.0,2077,0.718,7509,84,0.647,0.113,NaN

In [26]:
dataset.describe()

,CLIENTNUM,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Unnamed: 19
count,1.016700e+04,10167.000000,10167.000000,9944.000000,10147.000000,10167.000000,10167.000000,10167.000000,10167.000000,10167.000000,10167.000000,10167.000000,10167.000000,10167.000000,0.0
mean,7.391864e+08,46.753817,2.346513,35.913415,3.813245,2.341595,2.455887,8632.552346,1162.176748,0.759721,4402.349661,64.864463,0.712192,0.274716,NaN
std,3.690366e+07,13.520505,1.298701,7.980102,1.554741,1.010502,1.105580,9087.333842,815.082643,0.219054,3393.953441,23.461680,0.237934,0.275638,NaN
min,7.080821e+08,26.000000,0.000000,13.000000,1.000000,0.000000,0.000000,1438.300000,0.000000,0.000000,510.000000,10.000000,0.000000,0.000000,NaN
25%,7.130407e+08,41.000000,1.000000,31.000000,3.000000,2.000000,2.000000,2556.500000,348.500000,0.631000,2155.500000,45.000000,0.582000,0.022000,NaN
50%,7.179400e+08,46.000000,2.000000,36.000000,4.000000,2.000000,2.000000,4549.000000,1276.000000,0.736000,3900.000000,67.000000,0.702000,0.175000,NaN
75%,7.731435e+08,52.000000,3.000000,40.000000,5.000000,3.000000,3.000000,11067.500000,1783.000000,0.859000,4740.000000,81.000000,0.818000,0.502500,NaN
max,8.283431e+08,352.330517,5.000000,56.000000,6.000000,6.000000,6.000000,34516.000000,2517.000000,3.397000,18484.000000,139.000000,3.714000,0.999000,NaN

In [27]:
dataset = dataset.drop('Unnamed: 19', axis=1)

In [28]:
dataset = dataset.drop_duplicates(subset=['CLIENTNUM'])
print("Shape After: ", dataset.shape)

Shape After:  (10127, 19)

In [29]:
dupl = list(dataset[dataset.duplicated()==True].index)
print(dupl)
print("Shape Before: ", dataset.shape)
dataset.drop(dataset.index[dupl], inplace=True)
print("Shape After: ", dataset.shape)

[]
Shape Before:  (10127, 19)
Shape After:  (10127, 19)

In [30]:
dataset['Gender'] = LabelEncoder().fit_transform(dataset['Gender'])
dataset['Education_Level'] = LabelEncoder().fit_transform(dataset['Education_Level'])
dataset['Marital_Status'] = LabelEncoder().fit_transform(dataset['Marital_Status'])
dataset['Income_Category'] = LabelEncoder().fit_transform(dataset['Income_Category'])
dataset['Card_Category'] = LabelEncoder().fit_transform(dataset['Card_Category'])

In [31]:
obj = MinMaxScaler(feature_range=(0, 1))
normal_dataset = obj.fit_transform(dataset)

In [32]:
dataset = pd.DataFrame(normal_dataset, columns=['CLIENTNUM', 'Customer_Age', 'Gender', 'Dependent_count',
       'Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category',
       'Months_on_book', 'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Total_Revolving_Bal',
       'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt', 'Total_Trans_Ct',
       'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio', 'Credit_Limit'])

In [33]:
z_dataset = pd.DataFrame()

In [34]:
z_dataset['z_age'] = np.abs(stats.zscore(dataset['Customer_Age']))
outlAge = list(np.where(np.abs(z_dataset['z_age']) > 3)[0])
print("Age Outliers: ", outlAge)
print("Total outlier Age: ", len(outlAge), "\n")
dataset.iloc[outlAge, :]

Age Outliers:  [2604, 2902, 3626, 4151, 4725, 4776, 4978, 7007, 7263, 7732, 7795, 8125, 8506, 9187, 9438, 9907, 10047]
Total outlier Age:  17

,CLIENTNUM,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Total_Revolving_Bal,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Credit_Limit
2604,0.063603,0.989218,0.5,0.6,0.333333,0.50,0.0,1.00,0.674419,0.4,0.166667,0.500000,0.984279,0.377036,0.249043,0.170190,0.519380,0.153743,0.028028
2902,0.531167,0.953958,0.5,0.4,0.333333,0.25,0.6,0.00,0.627907,0.4,0.333333,0.666667,0.055980,0.977751,0.234619,0.171414,0.542636,0.198977,0.748749
3626,0.884557,0.968592,0.0,0.6,0.333333,0.50,0.8,0.00,0.558140,0.8,0.500000,0.666667,0.198886,0.000000,0.158669,0.140870,0.348837,0.142165,0.000000
4151,0.040073,0.626045,0.0,0.4,0.333333,0.50,0.2,0.00,0.534884,0.2,0.500000,0.333333,0.020639,0.000000,0.181925,0.053077,0.170543,0.209478,0.000000
4725,0.591569,0.633143,0.0,0.4,0.166667,1.00,0.8,1.00,0.558140,0.6,0.500000,0.333333,0.022060,0.589988,0.160730,0.184600,0.589147,0.193861,0.685686
4776,0.073838,0.665546,0.0,0.4,0.333333,0.25,0.8,0.00,0.534884,0.8,0.333333,0.666667,0.065020,0.718315,0.220783,0.208746,0.465116,0.179591,0.504505
4978,0.065955,0.747959,0.5,0.0,0.333333,0.50,0.6,0.00,0.488372,0.4,0.166667,0.666667,0.568138,0.569726,0.159847,0.249917,0.527132,0.177706,0.071071
7007,0.048158,0.975876,0.5,0.8,0.500000,0.50,0.0,1.00,0.558140,0.6,0.500000,0.500000,0.038174,0.789035,0.158375,0.236842,0.511628,0.229941,0.735736
7263,0.006753,0.797025,0.5,0.6,0.000000,0.50,0.0,0.75,NaN,0.6,0.666667,0.333333,1.000000,0.426301,0.164263,0.221153,0.589147,0.203285,0.031031
7732,0.665637,0.799450,0.0,0.4,0.333333,0.25,0.2,0.00,NaN,0.4,0.333333,0.166667,0.016649,0.398490,0.199293,0.253700,0.465116,0.201939,0.504505
7795,0.529298,0.925182,0.5,0.4,0.500000,1.00,0.6,0.00,0.534884,0.2,0.166667,0.166667,0.281842,0.684148,0.206064,0.234839,0.558140,0.210824,0.160160
8125,0.035730,0.965530,0.5,0.2,1.000000,0.50,0.6,0.00,0.790698,0.8,1.000000,0.833333,0.185373,0.383393,0.208714,0.116223,0.395349,0.228325,0.127127
8506,0.001181,0.980798,0.5,0.0,0.833333,0.50,0.2,0.00,0.837209,0.0,0.333333,0.500000,0.023874,0.588002,0.156903,0.218148,0.472868,0.175283,0.664665
9187,0.013990,0.964361,0.5,0.2,0.333333,0.75,0.4,0.00,0.930233,0.0,0.166667,0.333333,0.142655,0.230830,0.171622,0.196450,0.426357,0.147550,0.094094
9438,0.893376,1.000000,0.5,0.6,0.500000,0.25,0.4,0.00,0.860465,0.2,0.166667,0.333333,0.116202,0.454509,0.235502,0.723434,0.813953,0.160743,0.217217
9907,0.053729,0.851442,0.0,0.6,1.000000,0.50,0.8,0.00,0.534884,0.0,0.333333,0.833333,0.183256,0.000000,0.169561,0.418048,0.527132,0.187399,0.000000
10047,0.061630,0.932482,0.5,0.4,0.333333,1.00,0.2,0.00,0.534884,0.2,0.500000,0.666667,0.129897,0.000000,0.297027,0.477245,0.418605,0.184168,0.000000

In [35]:
dataset = dataset.drop(dataset.index[outlAge])
dataset.shape

(10110, 19)

In [36]:
# z_dataset['z_inactive'] = np.abs(stats.zscore(dataset['Months_Inactive_12_mon']))
# outlinactive = list(np.where(np.abs(z_dataset['z_inactive']) > 3)[0])
# print("Inactive Outliers: ", outlinactive)
# print("Total outlier Inactive: ", len(outlinactive), "\n")
# dataset.iloc[outlinactive, :]

In [37]:
# dataset = dataset.drop(dataset.index[outlinactive])
# dataset.shape

In [38]:
z_dataset

          z_age
0      0.129998
1      0.165427
2      0.313140
3      0.499280
4      0.499280
...         ...
10122  0.239283
10123  0.425424
10124  0.203855
10125  1.237844
10126  0.277711

[10127 rows x 1 columns]

In [39]:
#dataset = dataset.dropna()
dataset['Months_on_book'].fillna(value=dataset['Months_on_book'].mean(), inplace=True)
dataset['Total_Relationship_Count'].fillna(value=dataset['Total_Relationship_Count'].mean(), inplace=True)

In [40]:
dataset

,CLIENTNUM,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Total_Revolving_Bal,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Credit_Limit
0,0.504929,0.058223,0.5,0.6,0.500000,0.25,0.4,0.00,0.604651,0.8,0.166667,0.500000,0.340190,0.308701,0.392994,0.035273,0.248062,0.437534,0.061061
1,0.920398,0.070481,0.0,1.0,0.333333,1.00,0.8,0.00,0.720930,1.0,0.166667,0.333333,0.206112,0.343266,0.453636,0.043452,0.178295,1.000000,0.105105
2,0.049060,0.076609,0.5,0.6,0.333333,0.25,0.6,0.00,0.534884,0.6,0.166667,0.000000,0.059850,0.000000,0.763615,0.076611,0.077519,0.628164,0.000000
3,0.514130,0.042901,0.0,0.8,0.500000,1.00,0.8,0.00,0.488372,0.4,0.666667,0.166667,0.056676,1.000000,0.413600,0.036775,0.077519,0.628164,0.760761
4,0.008517,0.042901,0.5,0.6,0.833333,0.25,0.4,1.00,0.186047,0.8,0.166667,0.000000,0.099091,0.000000,0.640271,0.017025,0.139535,0.673129,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,0.534544,0.073545,0.5,0.4,0.333333,0.50,0.2,0.00,0.627907,0.4,0.333333,0.500000,0.077536,0.735399,0.206947,0.832647,0.829457,0.230749,0.462462
10123,0.021255,0.045966,0.5,0.4,1.000000,0.00,0.2,0.00,0.279070,0.6,0.333333,0.500000,0.085819,0.868494,0.236679,0.459219,0.457364,0.183899,0.511512
10124,0.070048,0.055159,0.0,0.2,0.500000,1.00,0.8,0.00,0.534884,0.8,0.500000,0.666667,0.120042,0.000000,0.241095,0.544175,0.387597,0.220248,0.000000
10125,0.077539,0.012258,0.5,0.4,0.333333,0.75,0.2,0.00,0.534884,0.6,0.500000,0.500000,0.116172,0.000000,0.157492,0.438689,0.403101,0.194400,0.000000
10126,0.052013,0.052094,0.0,0.4,0.333333,1.00,0.8,0.75,0.279070,1.0,0.333333,0.666667,0.270566,0.779102,0.206947,0.544342,0.395349,0.174744,0.189189

In [41]:
scor_list = []
rmse_list = []

In [42]:
data = dataset.iloc[:, 0:-1]
label = dataset.iloc[:,-1]

In [43]:
x_train, x_test, y_train, y_test = train_test_split(data, label, test_size=0.30, shuffle=1, random_state=7)

C:\Users\Asus\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\_param_validation.py:594: FutureWarning: Passing an int for a boolean parameter is deprecated in version 1.2 and won't be supported anymore in version 1.4.
  warnings.warn(

In [52]:
scaler = MinMaxScaler(feature_range=(0, 1))
#scaler = StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [53]:
dataset = pd.DataFrame(normal_dataset, columns=['CLIENTNUM', 'Customer_Age', 'Gender', 'Dependent_count',
       'Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category',
       'Months_on_book', 'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Total_Revolving_Bal',
       'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt', 'Total_Trans_Ct',
       'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio', 'Credit_Limit'])

In [65]:
from sklearn.linear_model import LinearRegression
model = LinearRegression().fit(x_train, y_train)
model.score(x_test,y_test)

0.665426919164682